
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgb(218, 216, 216);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.944);
    max-width: 600px;
    width: 100%;
    margin: 1rem;
  }

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    
    cursor: pointer;
  }
  
  button:hover {
    
    box-shadow: 10px 10px black;
  }
  
  .response {
    background-color: transparent;
    padding: 1rem;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .response p {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
  
  @media (max-width: 480px) {
    .container {
      margin: 0.5rem;
      padding: 1.5rem;
    }
  
    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    input[type="text"] {
      margin-bottom: 0.75rem;
    }
  
    button {
      padding: 0.375rem 0.75rem;
    }
  
    .response {
      max-height: 200px;
    }
  }
 